<a href="https://colab.research.google.com/github/Alwinaj/Learn-py/blob/main/TASK_21.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1.  Using the dataset given below,
  - Group the given dataset by A and find the sum of the groups.
  - Find the 3 least elements from the column D
  - Find the 3 largest elements from the Column D which belongs to the group
  'bar'.

In [1]:
import pandas as pd
import numpy as np
df = pd.DataFrame({'A' : ['foo', 'bar', 'foo', 'bar',
                          'foo', 'bar', 'foo', 'foo'],
                   'B' : ['one', 'one', 'two', 'three',
                          'two', 'two', 'one', 'three'],
                   'C' : np.random.randn(8),
                   'D' : np.random.randn(8)})
df
#please type your code below this line.
group = df.groupby('A')
print("sum of the groups:\n",group.sum())
print("3 least elements from the column D:\n",df['D'].nsmallest(3))
print("3 largest elements from the Column D which belongs to the group 'bar':\n",group['D'].get_group('bar').nlargest(3))

sum of the groups:
             C         D
A
bar  1.186454 -1.435241
foo -2.878607  0.233726
3 least elements from the column D:
 1   -2.086836
0   -1.230318
4   -0.313185
Name: D, dtype: float64
3 largest elements from the Column D which belongs to the group 'bar':
 3    0.662040
5   -0.010445
1   -2.086836
Name: D, dtype: float64

2. Using the dataset given below,
  - convert the dataset into a csv file.
  - read the csv file just saved
  - covert the dataset into a excel file.
  - read the excel file just saved.

In [2]:
import pandas as pd
import numpy as np
df = pd.DataFrame({'A' : ['foo', 'bar', 'foo', 'bar',
                          'foo', 'bar', 'foo', 'foo'],
                   'B' : ['one', 'one', 'two', 'three',
                          'two', 'two', 'one', 'three'],
                   'C' : np.random.randn(8),
                   'D' : np.random.randn(8)})
#please type your code below this line.
print(df)
df.to_csv('csvFile.csv')
print("CSS FILE:\n", pd.read_csv('csvFile.csv'))
df.to_excel('excelFile.xlsx')
print("EXCEL FILE:\n",pd.read_excel('excelFile.xlsx'))

     A      B         C         D
0  foo    one  1.874605 -0.728076
1  bar    one  0.208220 -0.325827
2  foo    two  1.030090  0.899127
3  bar  three -1.291165  0.783020
4  foo    two  1.502566  0.645335
5  bar    two -0.472196  0.328125
6  foo    one  0.369187  0.087613
7  foo  three  1.759431  0.487620
CSS FILE:
    Unnamed: 0    A      B         C         D
0           0  foo    one  1.874605 -0.728076
1           1  bar    one  0.208220 -0.325827
2           2  foo    two  1.030090  0.899127
3           3  bar  three -1.291165  0.783020
4           4  foo    two  1.502566  0.645335
5           5  bar    two -0.472196  0.328125
6           6  foo    one  0.369187  0.087613
7           7  foo  three  1.759431  0.487620
EXCEL FILE:
    Unnamed: 0    A      B         C         D
0           0  foo    one  1.874605 -0.728076
1           1  bar    one  0.208220 -0.325827
2           2  foo    two  1.030090  0.899127
3           3  bar  three -1.291165  0.783020
4           4  foo    two  1.502566  0.645335
5           5  bar    two -0.472196  0.328125
6           6  foo    one  0.369187  0.087613
7           7  foo  three  1.759431  0.487620